---
import Profile from "../../images/me.webp";
import GradientText from "../GradientText.astro";
---

<main class="pt-6 lg:pt-12 flex flex-col gap-6">
  <div class="relative mx-auto size-36 lg:size-[11.25rem]">
    <img
      src={Profile.src}
      alt="diecodev profile"
      width={180}
      height={180}
      class="rounded-full mx-auto size-36 lg:size-[11.25rem] aspect-square"
    />
    <!-- <a
      href="http://www.linkedin.com/in/diecodev"
      target="_blank"
      rel="noopener noreferrer"
      class="absolute bottom-4 -right-16 bg-green-400 rounded-full font-medium text-black text-xs py-1 px-2 flex items-center gap-[6px] leading-none
      hover:bg-green-900/80 hover:text-white transition-colors group"
    >
      <span
        class="w-2 h-2 inline-block rounded-full bg-green-900/90 group-hover:bg-green-400"
      ></span>
      <span> OPEN TO WORK</span>
    </a> -->
  </div>
  <h1
    class="font-bold text-3xl lg:text-5xl text-balance text-neutral-800 dark:text-white text-center leading-snug"
  >
    <GradientText text="Full-Stack Maestro:" />
    Crafting Digital Experiences
  </h1>
  <p class="text-center text-pretty dark:text-gray-400 text-gray-600">
    Passionate Web developer dedicated to creating scalable, dynamic, creative,
    and accessible web applications. With a focus on delivering exceptional user
    experiences, I currently excel as a <a
      href="https://viewstats.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline underline-offset-[6px] decoration-2 decoration-green-900 hover:decoration-green-500 dark:hover:text-white transition-all"
      >Frontend Engineer at ViewStats.</a
    >
  </p>
  <nav
    class="text-sm flex-wrap font-medium flex items-center justify-center gap-x-10 gap-y-6 mt-8"
  >
    <a
      class="py-3 px-5 bg-neutral-800 dark:bg-white min-w-[9.6rem] text-center hover:bg-neutral-700 dark:hover:bg-gray-200 transition-colors rounded-full dark:text-neutral-800 text-white"
      href="https://www.linkedin.com/in/diecodev"
      target="_blank">GET IN TOUCH</a
    >
    <a
      target="_blank"
      class="py-3 px-5 border-2 rounded-full min-w-[9.6rem] dark:text-white text-neutral-800 text-center border-neutral-800 dark:border-white hover:border-neutral-700 dark:hover:border-gray-300 transition-colors hover:text-neutral-700 dark:hover:text-gray-300"
      href="/resume.pdf">DOWNLOAD CV</a
    >
  </nav>
</main>
