---
import { PROJECTS } from "../../data/projects";
import Project from "../Project.astro";
import SectionWrapper from "../SectionWrapper.astro";
---

<SectionWrapper
  id="projects"
  title="Projects:"
  subtitle="From Idea to Implementation"
>
  <div class="grid grid-cols-1 gap-4">
    {PROJECTS.map((project) => <Project {...project} />)}
  </div>
</SectionWrapper>
