---
import SectionWrapper from "../SectionWrapper.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import Nextjs from "../icons/NextjsV2.astro";
import React from "../icons/React.astro";
import TypeScript from "../icons/TypescriptV2.astro";
import JavaScript from "../icons/Javascript.astro";
import Node from "../icons/Node.astro";
import Mongo from "../icons/Mongo.astro";
import Postgre from "../icons/Postgre.astro";
import Deno from "../icons/Deno.astro";
import Git from "../icons/Git.astro";
import Docker from "../icons/Docker.astro";
import Tailwind from "../icons/Tailwind.astro";

const STACK = [
  {
    name: "React",
    icon: React,
  },
  {
    name: "Next.js",
    icon: Nextjs,
  },
  {
    name: "Astro",
    icon: AstroIcon,
  },
  {
    name: "JavaScript",
    icon: JavaScript,
  },
  {
    name: "TypeScript",
    icon: TypeScript,
  },
  {
    name: "MongoDB",
    icon: Mongo,
  },
  {
    name: "PostgreSQL",
    icon: Postgre,
  },
  {
    name: "Node.js",
    icon: Node,
  },
  {
    name: "Deno",
    icon: Deno,
  },
  {
    name: "Tailwind CSS",
    icon: Tailwind,
  },
  {
    name: "Git",
    icon: Git,
  },
  {
    name: "Docker",
    icon: Docker,
  },
];
---

<SectionWrapper
  id="stack"
  title="Stack:"
  subtitle="The Pillars of My Digital Arsenal"
>
  <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
    {
      STACK.map(({ name, icon: Icon }) => (
        <div class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border dark:text-white text-neutral-900 border-neutral-200 dark:border-neutral-700 p-4 bg-neutral-300/20 dark:bg-neutral-800/20 backdrop-blur-md">
          <Icon width="50" height="50" />
          <p>{name}</p>
        </div>
      ))
    }
  </div>
</SectionWrapper>
